<script src="./scripts/angular.js"></script>

<div ng-app>
    <!-- Hello World with AngularJS -->
    <div>
        Hello {{ "AngularJS" }} !
    </div>
    <!-- Simple AngularJS expression -->
    <div>
        19 + 23 = {{ 19 + 23 }}
    </div>
    <!-- Variables in AngularJS expressions -->
    <div>
        x + y = {{ x = 23; y = 19; x + y }}
    </div>
    <!-- Separate variable assignment and usage into two expressions. -->
    <div>
        Result: {{ a + b }}
    </div>
    <div>
        Assignment: {{ a = 23; b = 19; null }}
    </div>
    <div>
        Result: {{ a + b }}
    </div>
</div>