<!-- Full Hello User example -->
<html ng-app>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <title></title>
        <script src="./scripts/angular.js"></script>
    </head>
    <body>
        <input type="text" placeholder="Punch in your name here." ng-model="name">
        <h1>Hello, {{ name }} !</h1>
    </body>
</html>