<script src="./scripts/angular.js"></script>
<script src="./scripts/3_hello-controller.js"></script>

<div ng-app="HelloAngularApp">
    <div ng-controller="HelloAngularController">
        <input type="text" ng-model="name" ng-keyup="change_name()">
        <h1>{{ greeting }}</h1>
        <h2>{{ name }}</h2>
    </div>
</div>