<script src="./scripts/angular.js"></script>
<script src="./scripts/4_add-numbers-controller.js"></script>

<div ng-app="AddNumbersApp">
    <!-- <div ng-controller="AddNumbersController">
        <input ng-model="a" ng-keyup="add()">
        <input ng-model="b" ng-keyup="add()">
        <h2>{{ a }} + {{ b }} = {{ sum }}</h2>
    </div> -->
    <div>
        <input ng-model="a" type="number">
        <input ng-model="b" type="number">
        <h2>{{ a }} + {{ b }} = {{ a + b }}</h2>
    </div>
</div>