<script src="./scripts/angular.js"></script>
<script src="./scripts/5_counter-controller.js"></script>

<!-- <div ng-app>
    <div ng-init="counter = 0;"></div>
    <div>
        <button ng-click="counter = counter + 1;">Increment</button>
        <button ng-click="counter = counter - 1;">Decrement</button>
    </div>
    <div>{{ counter }}</div>
</div> -->

<div ng-app="CounterApp">
    <div ng-controller="CounterController">
            <div>
                <button ng-click="increment();">Increment</button>
                <button ng-click="decrement();">Decrement</button>
            </div>
            <div>{{ counter }}</div>
    </div>
</div>