<script src="./scripts/angular.js"></script>
<script>
angular.module("CounterApp", [])
    .controller("CounterController", function ($scope, $timeout) {
        var timer;
        $scope.counter = 0;
        $scope.stop_counter = function () {
            $timeout.cancel(timer);
            timer = null;
        };
        $scope.start_counter = function () {
            if (timer === null) {
                update_counter();
            }
        };
        var update_counter = function () {
            $scope.counter++;
            timer = $timeout(update_counter, 1000);
        };
        update_counter();
    });
</script>

<div ng-app="CounterApp">
    <div ng-controller="CounterController">
        <h1>{{ counter }}</h1>
        <button ng-click="stop_counter();">Stop</button>
        <button ng-click="start_counter();">Continue</button>
    </div>
</div>