<script src="./scripts/angular.js"></script>
<script>
angular.module("CalculatorApp", [])
    .controller("CalculatorController", function ($scope) {
        $scope.operate = function () {
            if ($scope.operator == '+') {
                return $scope.a + $scope.b;
            }
            if ($scope.operator == '-') {
                return $scope.a - $scope.b;
            }
            if ($scope.operator == 'x') {
                return $scope.a * $scope.b;
            }
            if ($scope.operator == '/') {
                return $scope.a / $scope.b;
            }
        };
    });
</script>

<div ng-app="CalculatorApp" ng-controller="CalculatorController">
    <p><input type="number" ng-model="a"></p>
    <p><input type="number" ng-model="b"></p>
    <p>
        <select ng-model="operator">
            <option>+</option>
            <option>-</option>
            <option>x</option>
            <option>/</option>
        </select>
    </p>
    <h1>{{ operate() }}</h1>
</div>