<script src="./scripts/angular.js"></script>
<script>
angular.module("TodoApp", [])
    .controller("TodoController", function ($scope) {
        $scope.tasks = [];
        $scope.add_task = function () {
            $scope.tasks.push($scope.title);
        }
        $scope.remove_task = function () {
            $scope.tasks.splice(this.$index, 1);
        }
    });
</script>

<div ng-app="TodoApp" ng-controller="TodoController">
    <!-- <input ng-model="title">
    <button ng-click="add_task();">Add</button> -->
    <form ng-submit="add_task();">
        <input ng-model="title">
        <button>Add</button>
    </form>
    <ul>
        <!-- <li ng-repeat="t in tasks ">{{ t }}</li> -->
        <li ng-repeat="t in tasks track by $index ">
            {{ t }}
            <button ng-click="remove_task();">Remove</button>
        </li>
    </ul>
</div>